body{
    background-image:url("bg.jpg");
    background-color:#f0f0f0;
}

h1{
    color:#FF5733;
}

.eventCard{
    background-color:rgba(0,150,255,0.3);
}

.section-header{
    background:linear-gradient(to right,blue,purple);
    color:white;
    padding:10px;
}